# --- Framework principal ---
Flask==3.1.2

# --- Seguridad y autenticación ---
cryptography==46.0.3
flask-bcrypt==1.0.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==4.0.0

# --- Base de datos ---
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0

# Drivers para diferentes bases de datos
psycopg==3.2.11           # PostgreSQL
pymysql==1.1.2            # MySQL/MariaDB
cx-Oracle==8.3.0          # Oracle
pyodbc==5.3.0             # SQL Server

# --- Validación y serialización ---
email-validator==2.3.0
marshmallow==4.0.1
marshmallow-sqlalchemy==1.4.2
flask-smorest==0.46.2

# --- Cross-Origin y despliegue ---
Flask-CORS==6.0.1
gunicorn==23.0.0